<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="meidbEntities" connectionString="metadata=res://*/PTRGModel.csdl|res://*/PTRGModel.ssdl|res://*/PTRGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4\SQLEXPRESS;initial catalog=meidb;persist security info=True;user id=admin;password=mbettaglo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>